<%= link_to(current_user ? dashboard_path : root_path) do %>
      <i class="material-icons material-symbols-sharp" style="font-size: 40px; vertical-align: middle; margin-left: 35px; transform: translateY(30px);">west</i>
    <% end %>
<div class="container-app pt-5">
  <h1 class="text-center mb-4">Ma Collection Complète</h1>


  <div class="vinyl-bookshelf-container">
  <div class="vinyl-bookshelf vinyl-bookshelf-large">
    <% @vinyls.each do |vinyl| %>
      <%= link_to vinyl_path(vinyl), class: "vinyl-link" do %>
        <div class="vinyl-spine" style="background-color: <%= @vinyl_colors[vinyl.id] %>">
          <div class="vinyl-spine-title"><%= "#{vinyl.artist} - #{vinyl.title}" %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  </div>
</div>
