h1 {
  font: 600 28px Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

h2 {
  font: 600 20px Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

h3 {
  font: 600 20px Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

p {
  font: 400 18px Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

// .paragraph-div {
//   font: 400 18px Inter, sans-serif;
//   font-optical-sizing: auto;
//   font-weight: weight;
//   margin-bottom: 8px;
//   padding-top: 40px;
// }
